* { /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* STILE INTESTAZIONE */

header {
    background-color: #2a5ee8;
    line-height: 3rem;
    padding: 1rem 0;
}

.margin-container {
    width: 70%;
    margin: 0 auto;
}

.logo {
    width: 10%;
    float: left;
}

.logo img {
    width: 100%;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MENU PRINCIPALE */

.navbar {
    width: 80%;
    float: left;
}
    
.navbar ul {
    text-align: center;
    list-style: none;
    font-size: 0;
}

.navbar li {
    display: inline-block;
    font-size: 1rem;
    margin-right: 1.5rem;
}

.navbar li:last-child {
    margin-right: 0;
}



.navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

/* BOTTONE LOGIN */

header .login {
    width: 10%;
    float: right;
    text-align: right;
}

header .login-button {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: .3rem .7rem;
    border-style: none;
    border-radius: .7rem;
    text-decoration: none;
}

/* SEZIONE PRINCIPALE JUMBO */

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo-container {
    width: 50%;
    margin: 0 auto;
    padding: 7rem 0;
    color: white;
    text-align: center;
}

.jumbo h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.jumbo p {
    line-height: 2rem;
    margin-bottom: 2rem;
}

/* BOTTONI DOWNLOAD E APRI NEL BROWSER */

.download-button,
.open-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}

.download-button {
    background-color: white;
    color: black;
}

.download-button i {
    margin-right: 1rem;
}

.open-button {
    background-color: black;
    color: white;
}

/* STILE DELLE SEZIONI DELLA PAGINA */

.functions-description:nth-child(odd) {
    background-color: #f1f1f1;
}

.functions-description:nth-child(even) {
    background-color: white;
}

.functions-container {
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
}

.functions-container img {
    width: 70%;
    display: inline-block;
}

.functions-container .column {
    padding-top: 2rem;
    width: 30%;
    display: inline-block;
}

.functions-container .left-column {
    float: right;
    padding-left: 3rem;
}

.functions-container .right-column {
    float: left;
    padding-right: 3rem;
}

.functions-container .description h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.functions-container .description p {
    line-height: 1.5rem;
}

.centered {
    padding-bottom: 0;
}

.centered img {
    width: 100%;
}

.centered h2 {
    text-align: center;
}

.centered p {
    text-align: center;
}

.functions-description .download {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.functions-description .download h3 {
    font-size: 1.6rem;
    padding: 2rem;
}

.download-button-blue {
    background-color: #7983f5;
    color: white;
    margin-bottom: 3rem;
}

/* FOOTER */

footer {
    background-color: #23272a;
    color: #5865f2;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}

.footer-menu-container {
    padding-bottom: 1rem;
    border-bottom: 1px solid #5865f2;
}

.footer-column {
    float: left;
}

.column-large {
    width: 30%;
    padding-right: 1.5rem;
}

.column-small {
    width: calc((100% - 30%) / 4);
}

.footer-column h1 {
    font-size: 1.5rem;
}

/* SCELTA LINGUA */

.language-choise {
    margin: 1rem 0;
}

.language-choise .flag{
    height: 1rem;
    vertical-align: middle;
}

.language-choise .language-select {
    vertical-align: middle;
    background-color: transparent;
    color: white;
    border: none;
}

.language-choise .language-select option {
    color: black;
}

/* LINK AI SOCIAL NETWORKS */

.socials ul {
    list-style: none;
    font-size: 0;
}

.socials li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.fab {
    color: white;
}

/* COLONNE CON LINK VARI */

.column-small ul {
    list-style: none;
    margin: 1rem 0;
}

.column-small li {
    color: white;
    margin-bottom: 1rem;
}

.column-small a {
    text-decoration: none;
    color: white;
}

/* ULTIMA RIGA FOOTER */

.last-row {
    margin: 3rem 0;
}

footer .last-row .logo {
    float: left;
}

/* BOTTONE REGISTRAZIONE*/

footer .last-row .register-button {
    float: right;
    background-color: #5865f2;
    color: white;
    font-size: 1rem;
    padding: .3rem .7rem;
    border-style: none;
    border-radius: .7rem;
    text-decoration: none;
}


/* EFFETTI HOVER LINK E BOTTONI */

.navbar a:hover /* menu superiore */,
.column-small a:hover /* menu nel footer */ { 
    text-decoration: underline;
}

header .login-button:hover { /* bottone login */
    box-shadow: .3rem .3rem .5rem rgba(0,0,0,.7);
    color: #5865f2;
}